.customButton {
  padding: 0.625em 1.25em;
  font-size: 1rem;
  background-color: #87b46c;
  color: #fff;
  border: none;
  display: flex;
  flex-direction: center;
  width: 100%;
  max-width: 31.25em;
  border-radius: 1.875em;
  word-wrap: break-word;
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.3);
  height: 3.75em;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

.text {
  padding-right: 1.75rem;
}
.customButton:hover {
  background-color: rgb(162, 214, 131);
  cursor: pointer;
}

.customButton::after {
  content: ">";
  font-size: 1.5625em;
  position: absolute;
  top: 50%;
  right: 1.25em;
  transform: translateY(-50%);
}