.customButton {
    background-color: #2E77B1;
    color: #fff;
    border-radius: 1.5rem;
    padding: 1.25rem 1.875rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    margin-top: 2.5rem;
  }