.style {
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #7f7f7f;
}

.first {
    color: #ffffff;
    background-color: #B8D3FB;
    border: none;
    height: 125px;
    width: 185px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 550;
}

.first:hover {
    cursor: pointer;
    box-shadow: 14px 14px 14px rgba(199, 187, 233, 0.6);
}

.second {
    color: #ffffff;
    background-color: #86B2F3;
    border: none;
    height: 125px;
    width: 185px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 550;
}

.second:hover {
    cursor: pointer;
    box-shadow: 14px 14px 14px rgba(199, 187, 233, 0.6);
}

.third {
    color: #ffffff;
    background-color: #3B84F0;
    border: none;
    height: 125px;
    width: 185px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 550;
}

.third:hover {
    cursor: pointer;
    box-shadow: 14px 14px 14px rgba(199, 187, 233, 0.6);
}