.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 50%;
    background-color: #eee;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    line-height: 2.8125rem;
}

.imageClass {
    margin-right: 0.625rem;
}

.sets {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sets:first-child {
    margin-right: 7.5rem;
}

.sets:last-child {
    margin-left: 7.5rem;
}