.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.hit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    margin: 0.3125em;
    padding: 0.9375em;
    width: 80%;
    background-color: #f8f8f8;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  }
  
.hit a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.875em;
  }
  
.hit:hover {
    border: 1px solid #999;
    box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.2);
  }
  