
.header {
    display: flex;
    align-items: center;
    height: 80px;
  }
.title{
    margin-left: 90px;;
}
/* .title.span{
    margin-left: 90px;
    font-size: 8px;
    font-weight: lighter;
} */
  .blueRectangle {
    background-color: #E8F1FF;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: auto;
    margin-left: 65rem;
  }

.cardsContainer {
    margin-left: 250px;
  display: flex;
}
.card {
   

  width: 25%;
  height: 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 16px;
  margin-top: -40px;
}

.card h3 {
  font-size: 24px;
  margin: 0;
}

.button {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card.primary {
  background-color: #b8d3fb;
  color: black;
}

.card.secondary {
  background-color: #86b2f3;
  color: black;
}

.card.tertiary {
  background-color: #6c9ce5;
  color: black;
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    width: 100%;
  }
}

