.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.rectangle{
  background-Color: #E8F1FF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rectangle img {
  width: 30vw;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  gap: 10px;
}

/*media queries for less than 768 px*/
@media (max-width: 768px) {
  .rectangle{
    justify-content: space-between;
  }
  .about {
    width: 60%;
    gap: 10px;
  }
}