

.input[type="data"] , .input[type="password"], .input[type="email"] {
    display: block;
    width: 400%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    margin-bottom: 20px;
}
.error {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}
.formControl{
    margin-bottom: 20px;
}