.popupInner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: #333;
    height: 300px;
    left: 50%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 9999;
    display: flex;
  }

.info {
  text-align: start;
  color: #333;
  padding-top: 50px;
  display: flex;
  left: 15px;
}
  
.popupInner:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

.popupInner.clicked + .overlay {
    opacity: 1;
  }

.popupInner:target:before,
.popupInner.clicked:before {
    opacity: 5;
  }
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    left: 10px;
    top: 10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    left: 20px;
    top: 10px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

.closeBtn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
}
  
.closeBtn:hover {
    color: #000;
  }

.searchBar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  
.input[type='text'] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
  }

.customButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #87b46c;
    color: #fff;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: center;
    width: 160px;
    border-radius: 30px;
    word-wrap: break-word;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: 500;
  }
  
.customButton:hover {
    background-color: rgb(162, 214, 131);
    cursor: pointer;
  }
  
.customButton::after {
    content: ">";
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }