.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.popup-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
.close-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
