.drName {
    color: #7f7f7f;
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 320px;
    background-image: url('../icons/patientBackgroundIcon.svg');
    padding-top: 50px;
}
  
.center {
    display: block;
    margin: 0 auto;
  }
  
.text {
    text-align: center;
    margin: 4px 0;
  }