.drName {
    color: #7f7f7f;
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    background-image: url('../icons/patientBackgroundIcon.svg');
    padding-top: 5%;
}
  
.center {
    display: block;
    margin: 0 auto;
}
  
.text {
    text-align: center;
    margin: 1rem 0;
}
